@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.callout {
  width: 60vw;
  margin: 30px auto;
}

.card {
  width: 300px;
  margin: 30px auto;
  background-color: #d7ecfa;
  text-align: center!important;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
p {
  text-align: center;
}

.button {
  margin: 10px;
}

.welcome-header {
  color: black;
}

.button-text {
  color: #1b4965;
}

body {
  background-color: #CAE9FF;
}

form {
  width: 800px
}


